<html>
  <head>
    <title>
      LifeCare
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
    <style>
      body {
        background: linear-gradient(rgba(0, 0, 2, 0.7), rgba(1, 0, 0, 0)), url("../static/images/internet-heartbeat.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
      }
      .bgcolor {
        background-color:#46866C;
        transition: all ease-in-out 300ms;
        width: 100%;
      }
      section img {
        position: absolute;
        top: 0px;

      }
    </style>
</head>
<body>
<div>
    <nav id="navbar" style="font-family: 'Open Sans', sans-serif">
  <ul><center>
    <a href="/" style="text-decoration: none;color: white;"><li>Home</li></a>
    <a href="/about" style="text-decoration: none;color: white;"><li>About</li></a>
    <a href="/original" style="text-decoration: none;color: white;"><li>Predict</li></a>
    {% if session["loggedin"] == True%}
      <a href="/logout" style="text-decoration: none;color: white;"><li>Logout</li></a>
    {% else %}
      <a href="/register" style="text-decoration: none;color: white;"><li>Login</li></a>
    {% endif %}
    <li class="slide"></li>
  </center>
  </ul>
</nav>
</div><br><br><br><br><br>
<section>
  <div class="title1"><img src="{{ url_for('static', filename='images/logo.png')}}" style="width:200px; height:200px;">
  <div class="title"><br><span>Welcome</span>
  <span>&nbsp;&nbsp;We are LifeCare.<a href="/about">Know about us</a><br><br>&nbsp;&nbsp;To use our application.<a href="/login">Click Here</a></span>
</div></div>
</section>

  </body>
</html>
